html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
}

#velina {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(1, 1, 1, 0.7);
}

#video_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.pin_wrapper {
    width: 83%;
    height: 83%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -5px;
    right: 0;
    margin: auto;
}

.pin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 10px;
    opacity: 0;
    position: absolute;
    bottom: calc(50% - 25px);
    left: calc(50% - 25px);
    transition: all 0.4s ease-in-out;
}

#video {
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: -500px;
    bottom: -500px;
    left: -500px;
    right: -500px;
    margin: auto;
    transform: rotateY(180deg);
}

#placeholder {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: -500px;
    bottom: -500px;
    left: -500px;
    right: -500px;
    margin: auto;
}

.logo {
    height: 42px;
    margin-top: 9px;
}

#header {
    background-color: #333333;
    height: 60px;
    width: 100%;
    text-align: center;
}

#wrapper {
    height: calc(100% - 60px);
    position: relative;
    background-color: black;
}

.face_tracker_out {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 900px;
    max-height: 900px;
    background-size: 100% 100%;
}

#cameraSwitch {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
    height: 70px;
    -webkit-touch-callout: none;
}

#cameraSwitch:active, #zoom_plus:active, #zoom_minus:active {
    transform: scale(0.8);
}

#range_select {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.pulse {
    animation: pulse ease-in-out 1s infinite;
}

#zoom {
    width: 65px;
    display: inline-block;
    height: 40px;
}

#zoom_plus {
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    -webkit-touch-callout: none;
}

#zoom_minus {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
}

.disclaimer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 500px;
    min-height: 300px;
    margin: auto;
    padding: 40px 80px;
    background-color: rgba(138, 138, 138, 0.9);
    color: white;
    font-family: SansSerif;
    max-width: calc(95% - 160px);
    max-height: calc(95% - 110px);
    transform: translateY(-50%);
}


.disclaimer .logo{
    height: 40px;
}

.disclaimer .title {
    font-size: 22px;
}

.disclaimer .txt {
    font-size: 17px;
}

.disclaimer .btn{
    margin-left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    font-size: 24px;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-top: 50px;
}

.disclaimer .btn:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    51% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    #video {
        width: auto;
        height: 100%;
    }

    .face_tracker_out {
        top: -60px;
    }
    .disclaimer{
        padding:30px;
        max-width: calc(95% - 60px);
        max-height: calc(95% - 70px);
    }

    .disclaimer .btn{
        margin-top: 20px;
    }
}

/** SLIDER STYLE **/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.3px 0;
    background-color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #7d7d7d;
    border-radius: 25px;
    border: 0px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 4.5px solid #ffffff;
    height: 23px;
    width: 23px;
    border-radius: 50px;
    background: #7d7d7d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #808080;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #7d7d7d;
    border-radius: 25px;
    border: 0px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 4.5px solid #ffffff;
    height: 23px;
    width: 23px;
    border-radius: 50px;
    background: #7d7d7d;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #7a7a7a;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
    background: #7d7d7d;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 4.5px solid #ffffff;
    height: 23px;
    width: 23px;
    border-radius: 50px;
    background: #7d7d7d;
    cursor: pointer;
    height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #7d7d7d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #808080;
}

.fps {
    font-size: 18px;
    position: absolute;
    left: 2px;
    top: 62px;
    background-color: #4c4c4c;
    color: white;
}

@keyframes anim {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

.animation {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}