html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
}

#velina {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(1, 1, 1, 0.7);
}

#video_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.pin_wrapper {
    width: 83%;
    height: 83%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -5px;
    right: 0;
    margin: auto;
}

.pin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 10px;
    opacity: 0;
    position: absolute;
    bottom: calc(50% - 25px);
    left: calc(50% - 25px);
    transition: all 0.4s ease-in-out;
}

#video {
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: -500px;
    bottom: -500px;
    left: -500px;
    right: -500px;
    margin: auto;
    transform: rotateY(180deg);
}

#placeholder {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: -500px;
    bottom: -500px;
    left: -500px;
    right: -500px;
    margin: auto;
}

.logo {
    height: 42px;
    margin-top: 9px;
}

#header {
    background-color: #333333;
    height: 60px;
    width: 100%;
    text-align: center;
}

#wrapper {
    height: calc(100% - 60px);
    position: relative;
    background-color: black;
}

.face_tracker_out {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 900px;
    max-height: 900px;
    background-size: 100% 100%;
}

.pulse {
    animation: pulse ease-in-out 1s infinite;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    51% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    #video {
        width: auto;
        height: 100%;
    }

    .face_tracker_out {
        top: -60px;
    }
}

.fps {
    font-size: 18px;
    position: absolute;
    left: 2px;
    top: 62px;
    background-color: #4c4c4c;
    color: white;
}

@keyframes anim {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

.animation {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}